footer{
    background-color: black
}


#footer .subscribe-text{
	padding-bottom:60px;
}
	
#footer .subscribe-text .input-subscribe{
	height:45px;
	width:100%;
	padding-left:20px;
    color:#333;
} 

#footer .subscribe-text .btn-subscribe{
	background-color:rgba(125, 170, 219, 0);
	border:1px solid #FFF;
	color:#FFF;
	padding: 11px 22px;
}

#footer .row .form{
	width: 100%
}

#footer .subscribe-text  .btn-subscribe:hover{
	background-color:#99792C;
	color:#FFF;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#footer .copyright{
    background-color:#f0f0f0;
}

#footer .copyright p{
   margin:15px 0px;
}

#footer .footer-copyright{
	background-color:#222222;
}

#footer a{
	color:#b1aca1;
	padding:10px;
	text-decoration:none;
}

#footer a:hover{
	color:#7dabdb;
}


#footer .fa,#footer .footer-exception{
    color:#99792C;
}

#footer .fa{
	font-size:20px;
	padding:10px;
}

#footer .fa:hover {
	color:#6794c2;
}
