/* general */
html,
body {
    height: 100%;
    width: 100%;
}

[class*="col-"] {
    padding: 1rem;
}

#log-in-form-div,
#sign-up-form-div {
    max-width: 500px;
}

/* Header */
#top-head ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#top-head ul li {
    display: inline-block;
}

#top-head .cart-button {
    text-align: right;
}

#top-head .pad {
    margin: 0px 4px;
}

#top-head .pad button[type="button"] {
    border-color: white;
    color: white;
    border-radius: 0;
    padding: 0.375rem 1.7rem;
}

#top-head .pad button[type="button"]:hover {
    border-color: #99792C;
    background-color: #99792C;
}

#top-head .pad .fa-phone,
.pad .fa-envelope {
    color: #99792C;
}


#top-head {
    background-color: transparent;
    color: rgb(245, 243, 240);
}

header .container-fluid,
header .container-fluid #top-head .btn {
    font-size: 12px;
}

#top-head .left-icons {
    padding-top: 10px;
}

._top-head{
    background-color: black;
}
/* /TopHeader */




/*SignUP and log In*/

#sign-up-form,
#log-in-form {
    width: 400px;
    margin: 50px auto;
    position: relative;
}

#log-in-form .action-button {
    display: block;
}

#sign-up-form fieldset,
#log-in-form fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
}

/*buttons*/
#sign-up-form .action-button,
#log-in-form .action-button {
    width: 100px;
    background: #99792C;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#sign-up-form .action-button:hover,
#sign-up-form .action-button:focus,
#log-in-form .action-button:hover,
#log-in-form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #99792C;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

/*New*/
/* LogIn */
body > div.container{
    padding-top: 40px;
}
button[value="Google"] {
    background-color: #fff;
    border-color: #4885ed;
    border-radius: 20px;
    color: #000000;
}

button[value="Google"] img {
    width: 20px;
    padding-bottom: 3px;
}

button[value="Facebook"] {
    background-color: #3b5998;
    border-color: #3b5998;
    border-radius: 20px;
}
#log-in-form > fieldset > div:nth-child(2) > small{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
#log-in-form > fieldset > div:nth-child(2) > small:-webkit-any-link {
    cursor: pointer;
}
#log-in-form > fieldset > div:nth-child(2) > small:hover {
    color: #0056b3 !important;
    text-decoration: underline;
}